.App {
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Makes the container take up the full height of the viewport */
}

.container {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Creates space between the div and input */
  border: solid 2px black;
}

input[type="text"] {
  width: 300px;
  height: 20px;
  font-size: 16px; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
}
